{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}
{% block body %}
<div class="row">
    <div class="grid-margin stretch-card mx-auto col-12 ">
        <div class="card">
            <div class="col-md-6 grid-margin"> 
            <div class="card-body">
            <h4 class="card-title">Profile Tab!! </h4>
            <p class="card-description">
                Update Or Complite Your Profile Details 
            </p>
            <form class="forms-sample">
                <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" disabled id="exampleInputUsername1" placeholder="Username">
                <p class="card-description" style="color: #339900;">
                  <i class="mdi-alert-circle-outline"> </i> Username Can't Be Changed!!
                </p>
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                <label for="exampleInputConfirmPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                </div>
                <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Remember me
                </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Update Profile</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
            </div>
        </div>
    </div>
{% endblock body %}